// nextflow.config

process.executor = 'local'

params {
    // Input and output directories
    input_csv = "${projectDir}/data/raw/clinvar_conflicting.csv"
    output_dir = "${projectDir}/results"
    interim_dir = "${projectDir}/data/interim"

    // Python interpreter from the virtual environment
    python_interpreter = "${projectDir}/.venv/bin/python"
}